<div class="fixed-top main-menu">
  <div class="flex-center">
    <ul class="nav flex-column">
      <li class="nav-item delay-2">
        {%- assign _paths_root = site.paths.root | default:
        site.data.variables.default.paths.root -%} {%- include
        snippets/get-nav-url.html path=_paths_root -%} {%- if site.title -%}
        <a
          class="nav-link hvr-pulse"
          title="{%- if site.description -%}{{ site.description }}{%- endif -%}"
          href="{{ __return }}"
          >INICIO</a
        >
        {%- endif -%}
      </li>
      <li class="nav-item delay-3">
        <a
          class="nav-link hvr-pulse"
          href="https://tonoysumariachi.com/tono.html"
        >
          TOÑO</a
        >
      </li>
      <li class="nav-item delay-4">
        <a
          class="nav-link hvr-pulse"
          href="https://tonoysumariachi.com/contacto.html"
        >
          CONTACTO</a
        >
      </li>

      <li class="nav-item delay-7">
        <a
          class="nav-link hvr-pulse"
          href="https://tonoysumariachi.com/anunciate.html "
        >
          ANUNCÍATE</a
        >
      </li>
      <li class="nav-item delay-7">
        <label class="nav-title hvr-pulse text-white">CATEGORÍAS</label>
      </li>

      <li class="nav-item delay-7">
        <a class="nav-links hvr-pulse" href="{{site.baseurl}}historia.html">
          HISTORIA</a
        >
      </li>

      <li class="nav-item delay-7">
        <a
          class="nav-links hvr-pulse"
          href="{{site.baseurl}}mexicanisimos.html"
        >
          MEXICANISIMOS</a
        >
      </li>
      <li class="nav-item delay-7">
        <a class="nav-links hvr-pulse" href="{{site.baseurl}}cultura.html">
          CULTURA</a
        >
      </li>
      <li class="nav-item delay-7">
        <a class="nav-links hvr-pulse" href="{{site.baseurl}}elmundo.html">
          MUNDO</a
        >
      </li>
      <li class="nav-item delay-7">
        <a class="nav-links hvr-pulse" href="{{site.baseurl}}gastronomia.html">
          GASTRONOMÍA</a
        >
      </li>
      <li class="nav-item delay-7">
        <a class="nav-links hvr-pulse" href="{{site.baseurl}}turismo.html">
          TURISMO</a
        >
      </li>
    </ul>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>

<script>
  $(document).ready(function () {
    $(".nav-button").click(function () {
      $("body").toggleClass("nav-open");
    });
  });
</script>
