<div class="fixed-top main-menu">
    <div class="flex-center p-5">
        <ul class="nav flex-column">
       
            <li class="nav-item delay-2">
                <a class="nav-link hvr-pulse" href="tono.html">TOÑO</a>
            </li>
            <li class="nav-item delay-3">
                <a class="nav-link hvr-pulse" href="personajes.html">PERSONAJES</a>
            </li>
            <li class="nav-item delay-4">
                <a class="nav-link hvr-pulse" href="anunciate.html">ANÚNCIATE</a>
            </li>
            <li class="nav-item delay-5">
                <a class="nav-link hvr-pulse" href="contacto.html">CONTACTO</a>
            </li>
        <li class="nav-item delay-5">
            <a class="nav-link hvr-pulse" href="https://blog.tonoysumariachi.com/">BLOG</a>
        </li>
        </ul>
    </div>
  </div>