---
layout: page
titles:
  en: Etiquetas
  en-GB: Etiquetas
  en-US: Etiquetas
  en-CA: Etiquetas
  en-AU: Etiquetas
  zh-Hans: 归档
  zh: 归档
  zh-CN: 归档
  zh-SG: 归档
  zh-Hant: 歸檔
  zh-TW: 歸檔
  zh-HK: 歸檔
  ko: 아카이브
  ko-KR: 아카이브
  fr: Archives
  fr-BE: Archives
  fr-CA: Archives
  fr-CH: Archives
  fr-FR: Archives
  fr-LU: Archives
---

<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
