---
layout: page
show_excerpt: false
---



{%- assign _page_articles_data_source = page.articles.data_source | default:
layout.articles.data_source -%} {%- if _page_articles_data_source -%} {%- assign
_keys = _page_articles_data_source | split: '.' -%} {%- endif -%} {%- assign
_articles = nil -%} {%- for _key in _keys -%} {%- if forloop.first -%} {%- case
_key -%} {%- when 'site' -%} {%- assign _articles = site -%} {%- when 'page' -%}
{%- assign _articles = page -%} {%- when 'layout' -%} {%- assign _articles =
layout -%} {%- when 'paginator' -%} {%- assign _articles = paginator -%} {%-
else -%} {%- assign _articles = site[_key] -%} {%- else -%} {%- endcase -%} {%-
else -%} {%- assign _articles = _articles[_key] -%} {%- endif -%} {%- endfor -%}
{%- assign _type = page.articles.type | default: layout.articles.type -%} {%- if
_articles -%}

<div class="layout--articles">

  
  <div class="module-slide">

     <div class="container-slide">
      <input type="radio" id="1" name="image-slide" hidden>

      <input type="radio" id="2" name="image-slide" hidden>
    
      <input type="radio" id="3" name="image-slide" hidden>
      <input type="radio" id="4" name="image-slide" hidden>
      <input type="radio" id="5" name="image-slide" hidden>
       
      <div class="slide-img">
    
          <div class="slide-item">
            <img src="../images/PortadaBLOG.png">
            <!-- {% for post in site.categories.ASIESMEXICO limit:1 %}
            <img src="{{post.cover}}">
            <div class="slide-title">
              <a href="{{ site.baseurl }}{{ post.url }}"></a>
                <h2 class="slide-text">{{post.title}}</h2>
             </div>
            <small class="slide-label">{{post.categories}}</small>
            {% endfor %} -->
          </div>

          <div class="slide-item">
            {% for post in site.categories.TURISMO limit:1 %}
            <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{post.cover}}">
            <div class="slide-title">
                <h2 class="slide-text">{{post.title}}</h2>
                <p class="slide-summary">{{post.summary}}</p>

             </div>
            <small class="slide-label">{{post.categories}}</small>
          </a>
            {% endfor %}
          </div>

          <div class="slide-item">
            {% for post in site.categories.HISTORIA limit:1 %}
            <img src="{{post.cover}}">
            <div class="slide-title">
              <a href="{{ site.baseurl }}{{ post.url }}"></a>
                <h2 class="slide-text">{{post.title}}</h2>
             </div>
            <small class="slide-label">{{post.categories}}</small>
            {% endfor %}
          </div>
          
          <div class="slide-item">
            {% for post in site.categories.CULTURA limit:1 %}
            <img src="{{post.cover}}">
            <div class="slide-title">
              <a href="{{ site.baseurl }}{{ post.url }}"></a>
                <h2 class="slide-text">{{post.title}}</h2>
             </div>
            <small class="slide-label">{{post.categories}}</small>
            {% endfor %}
          </div>

          <div class="slide-item">
            {% for post in site.categories.GASTRONOMIA limit:1 %}
            <img src="{{post.cover}}">
            <div class="slide-title">
              <a href="{{ site.baseurl }}{{ post.url }}"></a>
                <h2 class="slide-text">{{post.title}}</h2>
             </div>
            <small class="slide-label">{{post.categories}}</small>
            {% endfor %}
          </div>
    
        </div>

        <div class="pagination-slide">
          <label for="1" class="item-pagination">
            <!-- {% for post in site.categories.ASIESMEXICO limit:1 %}
            <img src="{{post.cover}}">
            {% endfor %} -->
            <img src="images/portadaBLOG.png">
          </label>
          <label for="2" class="item-pagination" >
            {% for post in site.categories.TURISMO limit:1 %}
            <img src="{{post.cover}}">
            {% endfor %}
          </label>
          <label for="3" class="item-pagination" >
            {% for post in site.categories.HISTORIA limit:1 %}
            <img src="{{post.cover}}">
            {% endfor %}
          </label>
          <label for="4" class="item-pagination" >
            {% for post in site.categories.CULTURA limit:1 %}
            <img src="{{post.cover}}">
            {% endfor %}
          </label>
          <label for="5" class="item-pagination" >
            {% for post in site.categories.GASTRONOMIA limit:1 %}
            <img src="{{post.cover}}">
            {% endfor %}
          </label>
        </div>
     </div>
</div>

<h1>Lo mas reciente</h1>  
  {%- if _type == 'grid' -%} {%- if page.articles.size == 'sm' -%} {%- include
  article-list.html articles=_articles type='grid' size='sm' -%} {%- else -%}
  {%- include article-list.html articles=_articles type='grid' -%} {%- endif -%}
  {%- elsif _type == 'brief' -%} {%- include snippets/assign.html
  target=site.data.variables.default.page.articles.show_info
  source0=layout.articles.show_info source1=page.articles.show_info -%} {%-
  assign _show_info = __return -%} {%- include article-list.html
  articles=_articles type='brief' show_info=_show_info -%} {%- else -%} {%-
  include snippets/assign.html
  target=site.data.variables.default.page.articles.show_cover
  source0=layout.articles.show_cover source1=page.articles.show_cover -%} {%-
  assign _show_cover = __return -%} {%- include snippets/assign.html
  target=site.data.variables.default.page.articles.show_excerpt
  source0=layout.articles.show_excerpt source1=page.articles.show_excerpt -%}
  {%- assign _show_excerpt = __return -%} {%- include snippets/assign.html
  target=site.data.variables.default.page.articles.show_readmore
  source0=layout.articles.show_readmore source1=page.articles.show_readmore -%}
  {%- assign _show_readmore = __return -%} {%- include snippets/assign.html
  target=site.data.variables.default.page.articles.show_info
  source0=layout.articles.show_info source1=page.articles.show_info -%} {%-
  assign _show_info = __return -%} {%- assign _article_type =
  page.articles.article_type | default: layout.articles.article_type -%} {%-
  assign _cover_size = page.articles.cover_size | default:
  layout.articles.cover_size -%} {%- assign _excerpt_type =
  page.articles.excerpt_type | default: layout.articles.excerpt_type -%} {%-
  include article-list.html articles=_articles type='item'
  article_type=_article_type show_cover=_show_cover cover_size=_cover_size
  show_excerpt=_show_excerpt excerpt_type=_excerpt_type
  show_readmore=_show_readmore show_info=_show_info -%} {%- endif -%}
  </div>
{%- endif -%}


<!-- 
        
{{ content }} -->


  <div class="section-cat historia">
  <div class="header-cat">
    <h1 class="article__text">HISTORIA</h1>
     </div>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.HISTORIA limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <h2 class="card__text">{{post.title}}</h2>
            <p class="card__summary">{{post.summary}}</p>
          </div>
        </div>
      </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="footer-cat">
    <a href="{{site.baseurl}}categories/historia.html" class="btn-cat">Mas notas relacionadas</a>
  </div>
  </div>


 <div class="the-most-view">
    <h1>Lo último en Historia</h1>
    <div class="article-list grid grid--p-3">
      {% for post in site.categories.HISTORIA limit:3 %}
      <div class="cell cell--12 cell--md-6 cell--lg-4">
        <div class="card card--flat">
          <div class="card__image">
            <img src="{{ post.cover }}" alt="" class="image" />
            <div class="card__header">
              <a href="{{ site.baseurl }}{{ post.url }}"></a>
              <h2 class="card__text">{{post.title}}</h2>
              <p class="card__summary">{{post.summary}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
 </div>

<div class="section-cat gastronomia">
  <div class="header-cat">
    <h1 class="article__text">GASTRONOMÍA</h1>
   
  </div>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.GASTRONOMIA limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="footer-cat">
    <a href="{{site.baseurl}}categories/gastronomia.html" class="btn-cat">Mas notas relacionadas</a>
  </div>
</div>


<div class="the-most-view">
  <h1>Lo último en Gastronomía</h1>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.GASTRONOMIA limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
</div>

<div class="section-cat turismo">
  <div class="header-cat">
    <h1 class="article__text">TURISMO</h1>
  </div>

  <div class="article-list grid grid--p-3">
    {% for post in site.categories.TURISMO limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
      </div>
      {% endfor %}
      </div>
      <div class="footer-cat">
        <a href="{{site.baseurl}}categories/turismo.html" class="btn-cat">Mas notas relacionadas</a>
      </div>
</div>

<div class="the-most-view">
  <h1>Lo último en Turismo</h1>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.TURISMO limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
</div>

<div class="section-cat cultura">
  <div class="header-cat">
    <h1 class="article__text">CULTURA</h1>
  </div>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.CULTURA limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="footer-cat">
    <a href="{{site.baseurl}}categories/cultura.html" class="btn-cat">Mas notas relacionadas</a>
  </div>
</div>

<div class="the-most-view">
  <h1>Lo último en Cultura</h1>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.CULTURA limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
</div>


<div class="section-cat folclore">
  <div class="header-cat">
    <h1 class="article__text">ASÍ ES MÉXICO</h1>
   </div>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.ASIESMEXICO limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="footer-cat">
    <a href="{{site.baseurl}}categories/folclore.html" class="btn-cat">Mas notas relacionadas</a>
  </div>
</div>

<div class="the-most-view">
  <h1>Lo último en ASÍ ES MÉXICO</h1>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.ASIESMEXICO limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
</div>


<div class="section-cat mundo">
  <div class="header-cat">
    <h1 class="article__text">MUNDO</h1>
   </div>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.MUNDO limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="footer-cat">
    <a href="{{site.baseurl}}categories/elmundo.html" class="btn-cat">Mas notas relacionadas</a>
  </div>
</div>

<div class="the-most-view">
  <h1>Lo último en en MUNDO</h1>
  <div class="article-list grid grid--p-3">
    {% for post in site.categories.MUNDO limit:3 %}
    <div class="cell cell--12 cell--md-6 cell--lg-4">
      <div class="card card--flat">
        <div class="card__image">
          <img src="{{ post.cover }}" alt="" class="image" />
          <div class="card__header">
            <a href="{{ site.baseurl }}{{ post.url }}"></a>
            <h2 class="card__text">{{post.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
</div>